.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 400px;
    font-family: Roboto, serif;
}

.table{
    margin-top: 30px;
    text-align: center;

}
.table tr td{
    width: max-content;
    height: max-content;

}

.table thead{
    font-family: Roboto, serif;
    font-size: 20px;

}

.table thead tr th{
    padding-bottom: 20px;
}

.button{
    font-family: Roboto, serif;
    font-size: 20px;
    max-width: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #42b0e7;
    color: white;
    border: 2px solid #42b0e7;
    text-decoration: none;
}
.button:hover{
    border: 2px solid black;
}

.button:active{
    border: 2px solid black;
    background-color: #108ecb;
}

.container-ver-detalle{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
    font-family: Roboto, serif;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;

}
.container-crear{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-family: Roboto, serif;
}



.info-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 50%;
}

.detalle-container{
    display: flex;
    gap: 60px;
    justify-content: center;
}

.img-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
    max-width: 50%;
}

